.background2{ 
background-image: url("../images/backgroundCirkel.png");
z-index: -2;
margin-top: 0px;
padding:0px;
margin:0px;
width: 100%;
min-height:100px;
height:370px;
} 

.background{
background-image: url("background.png");

padding:0px;
margin:0px;
width: 100%;
min-height:100px;
height: 500px;
z-index: -2;
}


.Container{
  height:150px;
  width:100%;
  background:#F37825;
  position: absolute; bottom: 800px; top: 220px;
}


.Container2
{
  height: 250px;
  width: 100%;
  background: #F37825;
}


body{
padding:0px;
margin:0px;
font-family: 'Open Sans', sans-serif;
}

.dobblelogo{
position: absolute;
    left: 100px;
    top: 150px;
}

.foliologo{
position:absolute; 
bottom: 0px; left: 1100px; top:400px;
height: 100px;
z-index: 1;
}

.wannalogo{
position:absolute; 
background-image: url("wanna_logo.png");
bottom: 0px; left: 50px; top:400px;
width: 341px;
height: 146px;
z-index: 1;
}

.youmielogo
{
	width: 100%;
	padding-top: 10px;
}

.youmielogo img
{
	width: 170px;
	height: 170px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
}

.footer
{
	width: 100%;
	height: 50px;
	background-color: white;
}

.footer img
{
	float: right;
	height: 40px;
	padding: 5px;
}
