.background2{ 
background-image: url("../images/backgroundCirkel.png");
z-index: -2;
margin-top: 0px;
padding:0px;
margin:0px;
width: 100%;
min-height:100px;
height:400px;
} 

.background{
background-image: url("background.png");
display: table;
    width: 100%;
    padding: 0;
}



.Container{
  height:150px;
  width:100%;
  /*background:#F37825;*/
  position: absolute; bottom: 800px; top: 220px;
}


.Container2{
  height:250px;
  width:100%;
   /*background:#F37825;*/
  bottom: 300px; top: 600px;
  position: absolute;
}


body{
padding:0px;
margin:0px;
font-family: 'Open Sans', sans-serif;
}

.dobblelogo{
display: table-cell;
    font-size: 50pt;
    padding: 10px;
    text-align: center;
}

.foliologo{
display: table-cell;
    font-size: 50pt;
    padding: 10px;
    text-align: center;
 
}

.wannalogo{
display: table-cell;
    font-size: 50pt;
    padding: 10px;
    text-align: center;
}

.youmielogo{
width:10%;
 margin-left: auto;
 margin-right: auto;
 padding-top:10px;
}
