/* The style in this css document is used in multiple pages. The page specific style can be found in the folder of the specific page. */

body
{
	margin: 0px;
	background-image: url("../common/background.png");
	font-family: Open Sans, sans-serif;
}

header img
{
    text-align: center;
    margin: 0;
    background-image: url("../common/background.png");
    background-color: white;
	display: block;
}

header
{
    background-color: #D11A0B;
	display: block;
	overflow: hidden;
	width: 100%;
	position: relative;
	min-height: 370px;
}

header iframe
{

	height: 220px;
	width: 300px;
	padding: 0;
	display: block;
}

header div
{
	max-width: 1090px;
	margin: 0 auto 0 auto; 
	padding-top: 0;
	padding-bottom: 0;
}

header h2
{
	padding: 10px 0 10px 0;
	margin: 0;
}

header p
{
	padding: 0 0 10px 0;
	margin: 0;
}

/*The code below is style that only applies to that element when it is wider than 601px*/

@media all and (min-width: 601px)
{	
	header img
	{
		width: 350px;
		padding-left: calc(50% - 175px); /*Calculates how many padding on the left and right is needed to fill the background of the image to 100% width.*/
		padding-right: calc(50% - 175px); /*The value -175 is half of the image, the value 50% is half of the window width.*/
	}

	header div
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	header iframe
	{
		margin: 0 0 0 10px;
		overflow: left;
		float: right;
	}
}

/*The code below is style that only applies to that element when it is smaller than 600px. This style is used for mobile devices and small tablets.*/

@media all and (max-width: 600px)
{
	header img
	{
		width: 200px;
		padding-left: calc(50% - 100px); /*Calculates how many padding on the left and right is needed to fill the background of the image to 100% width.*/
		padding-right: calc(50% - 100px); /*The value -100 is half of the image, the value 50% is half of the window width.*/
	}

	header div
	{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	header iframe
	{
		margin: 10px 0 5px 0;
	}
}