body
{
	margin: 0px;
	background-image: url("../common/background.png");
	font-family: Open Sans, sans-serif;
}

header img
{
    text-align: center;
    margin: 0;
    background-image: url("../common/background.png");
    background-color: white;
	display: block;
	width: 350px;
	padding-left: calc(50% - 175px);
	padding-right: calc(50% - 175px);
}

header
{
    background-color: #D11A0B;
	display: block;
	overflow: hidden;
	width: 100%;
	position: relative;
	min-height: 370px;
}

header iframe
{

	height: 220px;
	width: 300px;
	padding-right: 0px;
	margin-left: 10px;
	overflow: left;
	float: right;
}

header div
{
	max-width: 1090px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

header h2
{
	padding-right: 0px;
	padding-left: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
}

header p
{
	padding-right: 0px;
	padding-left: 0;
	padding-bottom: 10px;
	padding-top: 0;
	margin: 0;
}

@media all and (min-width: 801px)
{	
	header div
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media all and (max-width: 800px)
{
	header div
	{
		padding-left: 5px;
		padding-right: 5px;
	}
}