@media all and (min-width: 801px)
{
	body
	{
		padding: 0px;
		margin: 0px;
		background-image: url("../images/backgroundCirkel.png");
		font-family: 'Open Sans', sans-serif;
	}

	.logo
	{
		width: 100%;
	}

	.logo img
	{
		padding: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		height: 75px;
	}

	.header
	{
		padding: 0px;
		margin: 0px;
		width: 100%;
		min-height: 220px;
		background-color: #ED3232;
	}

	.header div
	{
		max-width: 1130px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		margin-top: 0px;
		overflow: hidden;
	}

	.header p
	{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.header iframe
	{
		height: 220px;
		float: left;
		width: 350px;
		padding: 0px;
		margin-left: 20px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#intro
	{
		width: 720px;
		min-height: 220px;
		float: left;
		padding: 0px;
		margin-left: 20px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: white;
	}
	
	.content h1
	{
		max-width: 1090px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.content li
	{
		display: inline;
		width: 350px;
		height: 400px;
		background-color: #A6A6A6;
		margin-left: 20px;
		margin-right: 0px;
		margin-bottom: 20px;
		margin-top: 10px;
		padding: 0px;
		float: left;
	}

	.content a
	{
		padding: 0px;
		margin: 0px;
		cursor: pointer;
		color: black;
		text-decoration: none;
	}

	.content a:hover
	{
		cursor: hand;
	}

	.content ul
	{
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}

	.content img
	{
		width: 350px;
		height: auto;
		padding: 0px;
		margin: 0px;
	}

	.content p
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-top: 10px;
		margin: 0px;
		font-size: 15px;
	}

	.content h2
	{
		margin: 0px;
		font-size: 15px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
		font-weight: normal;
	}

	.content div
	{
		max-width: 1130px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.content
	{
		width: 100%;
		min-height: 350px;
		margin: 0px;
		padding-top: 70px;
		padding-bottom: 20px;
		padding-right: 0px;
		padding-left: 0px;
	}

	#uneven
	{
		background-color: #DEDEDE;
	}
}

@media all and (max-width: 800px)
{
	body
	{
		padding: 0px;
		margin: 0px;
		background-image: url("../images/backgroundCirkel.png");
	}

	.logo
	{
		width: 100%;
	}

	.logo img
	{
		padding: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		height: 75px;
	}

	.header
	{
		padding: 0px;
		margin: 0px;
		width: 100%;
		min-height: 220px;
		background-color: #ED3232;
	}

	.header div
	{
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		margin-top: 0px;
		overflow: hidden;
	}

	.header p
	{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.header iframe
	{
		height: 220px;
		float: left;
		width: 350px;
		padding: 0px;
		margin-left: 20px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#intro
	{
		width: 720px;
		min-height: 220px;
		float: left;
		padding: 0px;
		margin-left: 20px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: white;
	}

	.content a
	{
		color: black;
		text-decoration: none;
		width: 100%;
		height: auto;
	}

	.content h1
	{
		padding-top: 10px;
		margin-left: 2%;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		font-weight: normal;
		font-size: 20px;
	}

	.content li
	{
		display: inline;
		width: 96%;
		height: auto;
		background-color: #DEDEDE;
		margin-left: 2%;
		margin-right: 0px;
		margin-bottom: 5px;
		margin-top: 5px;
		padding: 0px;
		float: left;
	}

	.content ul
	{
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}

	.content img
	{
		width: 100px;
		height: auto;
		padding: 0px;
		margin: 0px;
		float: left;
	}

	.content p
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-top: 5px;
		margin: 0px;
		font-size: 10px;
		float: left;
	}

	.content h2
	{
		margin: 0px;
		font-size: 13px;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0px;
		font-weight: normal;
		float: left;
	}

	.content div
	{
		margin-left: auto;
		margin-right: auto;
	}

	.content
	{
		width: 100%;
		min-height: 0px;
		margin: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 10px;
		background-color: white;
	}
}