section
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	display: block;
	max-width: 1130px;
	overflow: hidden;
}

section a
{
	cursor: pointer;
	color: black;
	text-decoration: none;
	display: inline;
	background-color: #A6A6A6;
	float: left;
	margin-right: 0px;
}

section a:hover
{
	cursor: hand;
}

section img
{
	height: auto;
	padding: 0px;
}

section p
{
	margin: 0px;
	font-size: 15px;
}

article h1
{
	margin: 0px;
	font-size: 15px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-weight: normal;
}

@media all and (min-width: 601px)
{
	section a
	{
		margin-left: 20px;
		width: 350px;
		height: 400px;
		padding: 0px;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	
	section > h1
	{
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	section img
	{
		width: 350px;
		margin: 0px;
	}
	
	section p
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-top: 10px;
	}
}

@media all and (max-width: 600px)
{
	section a
	{
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: 10px;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 0px;
		padding-top: 0px;
		width: 98%;
		height: auto;
	}
	
	section > h1
	{
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	
	section img
	{
		width: 250px;
		margin-top: 5px;
		margin-right: 5px;
		margin-left: 0px;
		margin-bottom: 5px;
		overflow: right;
		float: left;
	}

	section p
	{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}