/* This CSS is dobble page specific. The styling for the header part of the page can be found in the style.css */

section
{
	margin: 0 auto 0 auto;
	display: block;
	max-width: 1130px;
	overflow: hidden;
}

section a
{
	cursor: pointer;
	color: black;
	text-decoration: none;
	display: inline;
	background-color: #A6A6A6;
	float: left;
	margin-right: 0px;
}

section a:hover
{
	cursor: hand;
}

section img
{
	height: auto;
	padding: 0px;
}

section p
{
	margin: 0px;
	font-size: 15px;
}

article h1
{
	margin: 0px;
	font-size: 15px;
	padding: 20px 20px 10px 20px;
	font-weight: normal;
}

/*The code below is style that only applies to that element when it is wider than 601px*/

@media all and (min-width: 601px)
{
	section a
	{
		margin-left: 20px;
		width: 350px;
		height: 400px;
		padding: 0px;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	
	section > h1
	{
		margin: 10px 20px 10px 20px;
	}
	
	section img
	{
		width: 350px;
		margin: 0px;
	}
	
	section p
	{
		padding: 10px 20px 20px 20px;
	}
}

/*The code below is style that only applies to that element when it is smaller than 600px. This style is used for mobile devices and small tablets.*/

@media all and (max-width: 600px)
{
	section a
	{
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 0 1% 0 1%;
		width: 98%;
		height: auto;
	}
	
	section > h1
	{
		margin: 8px 1% 8px 1%;
	}
	
	section img
	{
		width: 250px;
		margin: 5px 5px 5px 0;
		overflow: right;
		float: left;   
	}

	section p
	{
		padding: 5px 0 5px 0;
	}
}