/* This CSS is wanna page specific. The styling for the header part of the page can be found in the style.css */

section
{
	background-color: #DEDEDE;
	width: 100%;
	margin: 0;
	display: block;
}

section > article
{
	max-width: 1130px;
	padding-top: 0px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

section h1
{
	padding-top: 10px;
	padding-bottom: 10px;
}

section p
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0 0 10px 0;
}

/*The code below is style that only applies to that element when it is wider than 601px*/

@media all and (min-width: 601px)
{	
	section > article
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*The code below is style that only applies to that element when it is smaller than 600px. This style is used for mobile devices and small tablets.*/

@media all and (max-width: 600px)
{
	section > article
	{
		padding-left: 5px;
		padding-right: 5px;
	}
}