@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #F37825;
    font-family: Open Sans, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    background-image: url("common/background.png");
    background-color: white;
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
    margin-bottom: 150px;
}

ul {
    background-image: url("background.png");
    display: table;
    width: 100%;
    padding: 0;
    margin-bottom: 250px;
}

li {
    display: table-cell;
    text-align: center;
}

li img {
    width: 100%;
    max-width: 300px;
}

.footer {
    background-color: white;
    text-align: right;
    padding: 10px;
    font-size: 1pt; /* fixes padding of five pixels at the bottom */
}

.footer img {
    margin-right: 20px;
}

/*
.background2{ 
background-image: url("common/background.png");
z-index: -2;
padding:0px;
padding-top: 20px;
margin:0px;
width: 100%;
min-height:100px;
height:350px;
} 

.background{
background-image: url("background.png");
display: table;
    width: 100%;
    padding: 0;
}



.Container{
  height:150px;
  width:100%;
  background:#F37825;
  position: absolute; bottom: 800px; top: 220px;
}



.Container2{
  height:250px;
  width:100%;
  background:#F37825;
}



.dobblelogo{
display: table-cell;
    font-size: 50pt;
    padding: 10px;
    text-align: center;
}

.foliologo{
display: table-cell;
    font-size: 50pt;
    padding: 10px;
    text-align: center;
 
}

.wannalogo{
display: table-cell;
    font-size: 50pt;
    padding: 10px;
    text-align: center;
}



.youmielogo 
{
	width: 170px;
	height: 170px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
}

.footer
{
	width: 100%;
	height: 50px;
	background-color: white;
}

.footer img
{
	float: right;
	height: 40px;
	padding: 5px;
}

@media all and (min-width: 801px)
{

}

@media all and (max-width: 800px)
{

}
*/